{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Write Away</title>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <!-- TODO: Remove these files once bundled -->
    <link rel="stylesheet" href="../static/css/reset.scss">
    <link rel="stylesheet" href="../static/css/application.scss">
    <link rel="stylesheet" href="../static/css/homepage.scss">
    <link rel="stylesheet" href="../static/css/feed.scss">

  </head>
  <body>
    <div id="root"></div>
    <script src="{% static "bundle.js" %}"></script>
    <script src="{% static "jquery-3.3.1.js" %}"></script>
</script>
  </body>
</html>
